<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.CategoryDao">
    
    <select id="selectNameById" parameterType="int" resultType="String">
    	select category_name from category where category_id = #{category_id}
    </select>

    <select id="getCategoryList" resultType="category">
    	select * from category
    </select>
    
    </mapper>