<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="dao.EventDao">
    <select id="selectOne" parameterType="int" resultType="event">
    	select * from event where event_id =#{event_id}
    </select>
    
    <select id="selectAll" resultType="event">
    	select * from event
    </select>
    
<!-- getCount : 전체 게시물 수 구하기 -->
	<select id="getCount" resultType="int">
   		select count(*) from event
   	</select>
    
</mapper>