<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.ProductDao">
    
    <select id="selectOne" parameterType="int" resultType="product">
    	select * from product where prod_id = #{prod_id}
    </select>
    
    <update id="updateReadCount" parameterType="int">
    	update product set prod_readcount = (prod_readcount + 1) where prod_id = #{prod_id}
    </update>
    
    <select id="selectByReadCount" parameterType="java.util.HashMap" resultType="product">
    	select * from (select rownum as rn, e.* from (select * from product order by prod_readcount desc) e) where rn between #{offset} and (#{offset} + #{cardsPerPage} - 1)
    </select>
    
    <select id="selectByLatest" resultType="product">
    	select * from (select rownum as rn, e.* from (select * from product order by prod_date desc) e) where rn between #{offset} and (#{offset} + #{cardsPerPage} - 1)
    </select>
    
    <select id="selectByKeyword" parameterType="java.util.HashMap" resultType="product">
    	    select * from (select rownum as rn, e.* from (select * from product where prod_name like '%${ keyword }%' or sel_id like '%${ keyword }%') e) where rn between #{offset} and (#{offset} + #{cardsPerPage} - 1)
    </select>

	<select id="getCount" resultType="int">
		select count(*) from product
	</select>
	
	<select id="selectByReadCountForMain" resultType="product">
    	select * from (select rownum as rn, e.* from (select * from product order by prod_readcount desc) e) where rn between 1 and 5
    </select>
    
    <select id="selectByLatestForMain" resultType="product">
    	select * from (select rownum as rn, e.* from (select * from product order by prod_date desc) e) where rn between 1 and 5
    </select>
    
    <select id="selectProdIds" resultType="java.lang.Integer">
    	select prod_id from product where sel_id=#{sel_id}
    </select>
    
    <insert id="insertProd">
    	<selectKey resultType="int" keyProperty="prod_id" order="BEFORE">
    	select prodid_seq.nextval from dual
    	</selectKey>
    	insert into product values (#{prod_id}, #{sel_id}, #{prod_name}, #{prod_content},
    	 #{prod_price}, default, default, #{category_id}, #{prod_bank}, #{prod_account},
    	  #{prod_depositor}, 0, #{prod_fee})
    </insert>
    <!-- 
PROD_ID        NOT NULL NUMBER         
SEL_ID         NOT NULL VARCHAR2(20)   
PROD_NAME      NOT NULL VARCHAR2(50)   
PROD_CONTENT   NOT NULL VARCHAR2(4000) 
PROD_PRICE     NOT NULL NUMBER         
PROD_DATE      NOT NULL DATE           
PROD_READCOUNT NOT NULL NUMBER         
CATEGORY_ID    NOT NULL NUMBER         
PROD_BANK      NOT NULL VARCHAR2(10)   
PROD_ACCOUNT   NOT NULL VARCHAR2(20)   
PROD_DEPOSITOR NOT NULL VARCHAR2(30)   
PROD_STATUS    NOT NULL NUMBER(1)      
PROD_FEE       NOT NULL NUMBER    -->
    
    
    
    </mapper>