<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.ReceiptOrderDao">
    <insert id="insertReceiptOrder">
    insert into receiptorder values (#{receipt_id}, receiptorderid_seq.nextval, #{sel_id}, #{prod_id}, #{mem_id}, #{order_opt}, #{order_quantity}, #{order_price})
    </insert>
    <!-- 
RECEIPT_ID      NOT NULL NUMBER        
RECEIPTORDER_ID NOT NULL NUMBER        
SEL_ID          NOT NULL VARCHAR2(20)  
PROD_ID         NOT NULL NUMBER        
MEM_ID          NOT NULL VARCHAR2(20)  
ORDER_OPT       NOT NULL VARCHAR2(500) 
ORDER_QUANTITY  NOT NULL NUMBER        
ORDER_PRICE     NOT NULL NUMBER 
     -->
    </mapper>