<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.ReceiptOrderDao">
    <insert id="insertReceiptOrder">
    insert into receiptorder values (#{receipt_id}, receiptorderid_seq.nextval, #{sel_id}, #{prod_id}, #{mem_id}, #{order_opt}, #{order_quantity}, #{order_price}, default)
    </insert>
    <select id="getReceiptOrderList" resultType="receiptOrder">
    select * from receiptorder where receipt_id=#{receipt_id}
    </select>
    <select id="getOrderQuantitySum" parameterType="int" resultType="int">
    select nvl(sum(order_quantity), 0) from receiptorder where prod_id = #{prod_id}
    </select>
    <select id="getOrderPriceSum" parameterType="int" resultType="int">
    select nvl(sum(order_price), 0) from receiptorder where prod_id = #{prod_id}
    </select>
    </mapper>