<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.ReviewDao">
    	<select id="selectById" parameterType="java.util.HashMap" resultType="Review">
    		select * from (select rownum as rn, e.* from (select * from review where prod_id = #{ prod_id } order by review_id desc) e) 
    		where rn between #{offset} and (#{offset} + #{boardsPerPage} - 1)
    	</select>
    	
    	<select id="getCountById" parameterType="int" resultType="int">
   			select count(*) from review where prod_id = #{ prod_id }
   		</select>
    </mapper>