<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="dao.SellerDao">
    <select id="selectOneSeller" resultType="seller">
    	select * from seller where sel_id=#{sel_id}
    </select>
    </mapper>